$navbar_color: #333;
$a_color: white;
//$a_hover_color: #111;
$active_color: #4CAF50;
$wrong_color: crimson;
$popup_color: #fefefe;
$popup_border: 1px solid #888;
$userMenu_color: #f1f1f1;
$userMenu_a_color: #111;